.MyButton{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid;  
    border-color:#ff6956;
    color: #ff6956;
    width: 140px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    
}
