.counter{
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background-color: rgb(231, 227, 223);
    width: 140px;
    height: 40px;
    align-items: center; 
    font-size: 16px;
    font-weight: 500;
    color: rgb(126, 127, 132);
    font-weight: 600;
}
.counter img{
    height: 16px;
    cursor: pointer;
}


