.wrapper {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.active {
    position: sticky;
    background: rgba(96, 92, 92, 0.1);
    backdrop-filter: blur(20px);
}
.container {
    width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category {
    cursor: pointer;
}
