.wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 50px;
    margin-right: 15px;
}

.company {
    display: flex;
    align-items: center;
}

.city{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
