* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    background-color: rgb(213, 228, 241);
    height: 100vh;
    text-align: center;
}

.container {
    width: 1400px;
    margin: 0 auto;
}
